/* Base */
:root {
  --transition-length: 150ms;
  --text-color: 10, 10, 10;
  --link-color: 60, 110, 237;
  --bg-color: 255, 255, 255;
  --accent-color: 100, 180, 255;
}

/* Cooler selection color */
::selection, ::-moz-selection {
  background: rgb(var(--text-color));
  color: rgb(var(--bg-color));
}

/* HTML and body */
html, body {
  margin: 0px;
  height: 100%;
  font-family:  sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
}
body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color))
}

/* Sidebar styling */
nav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 30px 0px 30px 30px;
  line-height: 1.2;
  display: grid;
  height: calc(100vh - 60px);
}
nav p {
  margin: 0;
}
nav .footer {
  align-self: end;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Content styling */
article {
  margin-left: 280px;
  margin-right: 30px;
  max-width: 900;
}

/* Responsive styling */
@media only screen and (max-width: 750px) {
    nav {
      height: auto;
      width: 100%;
      background: rgb(var(--bg-color));
    }
    nav ul li {
      float: left;
      margin-right: 10px;
    }
    nav .footer, nav br, #desc {
      display: none;
    }
    article {
      margin: 0px 30px;
    }
}


/* Link styling */
a {
  position: relative;
  color: rgb(var(--text-color));
  text-decoration-color: rgba(var(--text-color), 0.5);
  transition: text-decoration-color var(--transition-length);
}
a:hover {
  text-decoration-color: rgba(var(--text-color), 0.0);
}


/* Headers */
header {
  margin-top: 100px;
  font-weight: 700;
  font-size: 24px;
}


/* Code */
pre {
  background-color: rgba(130, 130, 130, 0.1);
  padding: 20px;
  border-left: 5px solid rgb(var(--accent-color));
  border-radius: 0px 10px 10px 0px;
  font-size: 14px;
}
pre code {
  background: none !important;
  font-size: 100%;
}
code {
  padding: .2em .4em;
  font-size: 90%;
  font-family: 'IBM Plex Mono';
  background: rgba(130, 130, 130, 0.1);
  border-radius: 3px;
}


/* Styling of horizontal rules */
hr {
  border-color: rgba(var(--text-color), 0.1)
}


/* Tables */
table {
  border-collapse: collapse;
  border: 1px solid rgba(var(--text-color), 0.1)
}
tr {
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
}
td, th {
  border-right: 1px solid rgba(var(--text-color), 0.1);
  padding: 8px;
}
