/* Base */
:root {
  --transition-length: 150ms;
  --text-color: 0, 0, 0;
  --accent: 40, 40, 0;
  --bg-color: 255, 255, 255;
}

html, body {
  margin: 0px;
  padding: 10px 16px 12px 16px;
  height: 100%;
  line-height: 17px; 
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
}

body {
  height: 1vh;
}
p {
  margin: 0;
}


/* Some base classes */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 16px;
  height: calc(100vh - 20px);
}

/* Link styling */
a {
  display: inline-block;
  text-decoration: none;
  color: rgb(var(--text-color));
  border-bottom: 1px solid rgba(var(--text-color), 0.1);
}
a::after {
  position: relative;
  display: block;
  content: "";
  width: 30%;
  height: 1px;
  top: 1px;
  background-color: rgb(var(--text-color));
  -webkit-transition: 0.3s;
  transition: width opacity 0.3s;
  opacity: 0;
}
a:hover::after {
  width: 100%;
  opacity: 0.7;
}


/* List styling */
ul {
  padding: 0;
  margin: auto;
  list-style-type: none;
}
